.postbox-title-action {
    display: none;
}

.wp-full-overlay-sidebar-content div#message.updated a { display: none; }

/* Header */
.wp-full-overlay-header a.howdy {
    float: right;
    text-decoration: none;
}
.wp-full-overlay-header a.howdy img {
    width: 16px;
    height: 16px;
    border: 1px solid #999;
    padding: 0;
    background: #EEE;
    line-height: 24px;
    vertical-align: middle;
    margin: -3px 0 0 6px;
    float: none;
    display: inline;
}

/* Site menu */
#live-admin-info .preview-notice {
    font-size: 13px;
    line-height: 24px;
    color: #999;
}

#live-admin-info .site-name {
    font-size: 20px;
    font-weight: 200;
    line-height: 24px;
    color: #333;
    display: block;
    text-shadow: 0 1px 0 white;
}

#live-admin-info .theme-description {
    color: #777;
    line-height: 20px;
}

#live-admin-info .customize-section-content {
    background: transparent;
    padding-top: 0;
}

#live-admin-info.open .customize-section-title { padding-bottom: 0; }

/* Quick actions */
.quick-actions { overflow: auto; }
.quick-actions li { margin: 0 10px 10px 0; padding: 10px; float: left; font-weight: bold; text-align: center; width: 39%; }

.quick-actions li div { display: block; float: none !important; margin: 0 auto 0 auto;}

.quick-actions li span { display: block; }

.quick-actions li a { font-size: 13px; }

.quick-actions .left-gray { background: #eee; -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;  -webkit-border-bottom-left-radius: 6px; margin-right: 0px !important;
	  }

.quick-actions .right-gray { background: #eee;
	-moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;  -webkit-border-bottom-right-radius: 6px;
}

/* Welcome Panel */
#welcome-panel {
    position: absolute;
    width: 90%;
    left: 50%;
    margin-left: -45%;
    max-height: 90%;
}